Repository reearth/reearth-classic, pull requests merged in 2025-05, with the labels that each got.

#58 chore(server): Revert RemoveAsset debug
  server/internal/infrastructure/gcs/file.go
Labels: server

#60 chore(web): update package version to 0.21.5
  web/package.json
Labels: web

#79 feat(web): builtin data attribution widget
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/classic/components/atoms/Icon/Icons/widgetDataAttribution.svg
  web/src/classic/components/atoms/Icon/Icons/widgetMenu.svg
  web/src/classic/components/atoms/Icon/icons.ts
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/useEngineRef.ts
  web/src/classic/components/molecules/Visualizer/Engine/ref.ts
  web/src/classic/components/molecules/Visualizer/Widget/DataAttribution/ContentModal.tsx
  web/src/classic/components/molecules/Visualizer/Widget/DataAttribution/index.tsx
  web/src/classic/components/molecules/Visualizer/Widget/DataAttribution/useCredits.ts
  web/src/classic/components/molecules/Visualizer/Widget/builtin.ts
  web/src/classic/components/molecules/Visualizer/Widget/index.tsx
  web/src/classic/components/molecules/Visualizer/WidgetAlignSystem/Area.tsx
  web/src/classic/components/molecules/Visualizer/WidgetAlignSystem/MobileZone.tsx
  web/src/classic/components/molecules/Visualizer/WidgetAlignSystem/Zone.tsx
  web/src/classic/components/molecules/Visualizer/WidgetAlignSystem/index.tsx
  web/src/classic/components/molecules/Visualizer/hooks.ts
  web/src/classic/components/molecules/Visualizer/index.tsx
  web/src/classic/components/organisms/EarthEditor/core/CanvasArea/hooks.ts
  web/src/classic/theme/reearthTheme/common/zIndex.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web, server

#80 chore(web): clean up ref url
  web/vite.config.ts
Labels: web
